:root {
}

#node-body {
    background-color: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: stretch;
    justify-content: center;
    align-self: stretch;
    align-content: center;
}

#status-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.node-running {
    border-top-color: rgb(255, 204, 51);
    border-right-color: rgb(255, 204, 51);
    border-bottom-color: rgb(255, 204, 51);
    border-left-color: rgb(255, 204, 51);
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition-timing-function: ease-in-circ;
    transition-delay: 0s;
    transition-duration: 0.75s;
}

.node-success {
    border-top-color: rgb(0, 255, 0);
    border-right-color: rgb(0, 255, 0);
    border-bottom-color: rgb(0, 255, 0);
    border-left-color: rgb(0, 255, 0);
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-duration: 0s;
}

.node-failure {
    border-top-color: rgb(255, 64, 64);
    border-right-color: rgb(255, 64, 64);
    border-bottom-color: rgb(255, 64, 64);
    border-left-color: rgb(255, 64, 64);
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-duration: 0s;
}

.node-none {
    transition-duration: 1.25s;
    transition-timing-function: ease-in-circ;
}

#input {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(185, 83, 83);
    flex-grow: 0;
    height: auto;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0;
    align-content: center;
    flex-shrink: 1;
    min-height: 30px;
    max-height: 40px;
    align-self: center;
    flex-direction: row;
}

#output {
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-self: center;
    min-height: 30px;
    max-height: 40px;
    padding-bottom: 5px;
    width: 100%;
}

#selection-border {
    border-left-color: rgb(0, 95, 255);
    border-right-color: rgb(0, 95, 255);
    border-top-color: rgb(0, 95, 255);
    border-bottom-color: rgb(0, 95, 255);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}

:hover > #selection-border {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

:selected > #selection-border {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
}

:hover:selected > #selection-border {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(0, 166, 255);
    border-right-color: rgb(0, 166, 255);
    border-top-color: rgb(0, 166, 255);
    border-bottom-color: rgb(0, 166, 255);
}

.node {
    min-width: 150px;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}

#title {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-color: rgb(96, 96, 96);
    border-right-color: rgb(96, 96, 96);
    border-top-color: rgb(96, 96, 96);
    border-bottom-color: rgb(96, 96, 96);
    height: auto;
    width: 100%;
    align-self: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.port > Label {
    display: none;
    visibility: hidden;
}

.port {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.connectorBox {
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
}

.connectorCap {
    width: 8px;
    height: 8px;
    min-width: 8px;
    min-height: 8px;
}


