:root {
}

.binding-button {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 45%;
    margin-bottom: 12px;
}

.unity-button {
    height: 25px;
}

#bindings-section {
    margin-bottom: 0;
    padding-bottom: 24px;
}

.remove-button {
    flex-direction: column;
    width: 25px;
    padding-bottom: 10px;
    background-color: rgb(240, 89, 95);
    height: 25px;
    -unity-text-align: middle-center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
}






