:root {
}

.cycle-buttons {
    background-color: rgba(37, 37, 37, 0.5);
    flex-grow: 1;
}

.cycle-buttons:hover {
    background-color: rgba(27, 27, 27, 0.65);
}

.cycle-buttons:hover:selected {
    background-color: rgba(0, 0, 0, 0.8);
}
